<html>
    <!-- To fix XSS vulnerability, delete the autoescape tags or replace "autoescape off" with "autoescape on" -->
    {% autoescape off %}
    <head><title>Thread</title></head>
    <body>
        <h1 id="thread">{{title}}</h1>
        <h2>{{msg}}</h2>
        <h3>Original Poster: {{op}}</h3>
        {% if user == op %}
        <a href="/deleteThread/{{id}}">delete thread</a>
        {% endif %}
        {% for message in messages %}
        <p>{{message.1}}</p>
        {% endfor %}
        <form action="/createMsg" method="POST">
            <p>New Message:<input type="text" name="message"/></p>
            <input type="hidden" name="id" value={{id}}>
            <input type="submit">
        </form>
    </body>
    {% endautoescape %}
</html>